* {
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
  /* font-family: 'Press Start 2P', monospace; */
}

:root {
  --tan: #DCB98Aff;
  --tan-2: #A87859ff;
  /* --tan-2: #D3B189ff; */
  --ivory: #F3F5E6ff;
}

.contener_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contener_name {
  background-image: url("../Assets/Sprout Lands - Sprites - Basic pack/UI/Sprite sheets/Setting menu.png");
  background-repeat: no-repeat;
  background-position: -415px, 0;
  background-size: cover;
  object-fit: fill;
  image-rendering: pixelated;
  height: 500px;
  width: 500px;
}

.pixel2 {
  font-family: 'Press Start 2P', monospace;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-family: 'VT323';
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  padding: 10px 10px;
  background: var(--tan);
  width: auto;
  z-index: 2;
  border: 2px solid var(--tan-2);
  box-shadow: 10px 4px 0 var(--tan-2);

}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: var(--tan);
  z-index: -1;
  border: 2px solid var(--tan-2);
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: var(--tan);
  z-index: -1;
}

.input_name {
  padding: 15px;
  border: none;
  background-color: var(--ivory);
  color: var(--tan-2);
  margin: 30px 0 30px 0;  
}

.input_name::placeholder {
  color: var(--tan-2);
}

.input_name:focus {
  outline: none;
  border: none;
}
.btn_add_name{
  padding: 10px;
  margin-bottom: 80px;
  background-color: var(--tan-2);
  color: aliceblue;
  border-color: var(--tan-2);
  border: none;
  cursor: url('../Assets/Sprout Lands - Sprites - Basic pack/UI/Sprite sheets/Mouse sprites/pointingMouse.png'), pointer;
}